User {{ tinyproxy_os_user }}
Group {{ tinyproxy_os_group }}

{% for address in tinyproxy_listen_addresses -%}
Listen {{ address }}
{%- endfor %}

Port {{ tinyproxy_port }}
Timeout 600

DefaultErrorFile "/usr/share/tinyproxy/default.html"
StatFile "/usr/share/tinyproxy/stats.html"
PidFile "/var/run/tinyproxy/tinyproxy.pid"

Logfile "/var/log/tinyproxy/tinyproxy.log"
LogLevel {{ tinyproxy_log_level }}

MaxClients {{ tinyproxy_maxclients }}
MinSpareServers {{ tinyproxy_minspare_servers }}
MaxSpareServers {{ tinyproxy_maxspare_servers }}
StartServers {{ tinyproxy_startservers }}

MaxRequestsPerChild {{ tinyproxy_maxrequest }}

Allow 127.0.0.1
{% for subnet in tinyproxy_allowed_subnets -%}
Allow {{ subnet }}
{% endfor %}

{% for subnet in tinyproxy_denied_subnets -%}
Deny {{ subnet }}
{% endfor %}

{% if tinyproxy_filtering is defined -%}
Filter {{ tinyproxy_filtering.filter }}
FilterURLs {{ tinyproxy_filtering.urls }}
FilterExtended {{ tinyproxy_filtering.extended }}
FilterCaseSensitive {{ tinyproxy_filtering.case_sensitive }}
FilterDefaultDeny {{ tinyproxy_filtering.default_deny }}
{% endif %}

{% if tinyproxy_upstream_proxies is defined %}
{%- for proxy in tinyproxy_upstream_proxies -%}
Upstream {{ proxy.address }} {% if proxy.url is defined %} {{ proxy.url }} {% endif %}

{% endfor %}
{% endif %}

{% if tinyproxy_via_header is defined %}?
ViaProxyName "{{ tinyproxy_via_header }}"
{%- else -%}
DisableViaHeader Yes
{%- endif %}

{%- for port in tinyproxy_connect_ports | default([]) -%}
ConnectPort {{ port }}
{%- endfor -%}
